body {
	background-color: #35303b;
	font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: 400;	
	line-height: 1.4;
	color: #555555;
	margin: 28px 28px 28px 0;
}

a, a:visited, a:active {
	color: #00bcf2;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	
}
.clear { clear: both;}

blockquote {
	font-style: italic;
}

pre { white-space: pre; }
code { overflow-x: scroll; }

/* PORTFOLIO
---------------------- */
#portfolio {
	background-color: #fff;
	width: 200px;
	text-align: center;
	padding: 30px 30px;
	float: left;
}
#portfolio .logo {
	display: block;
	font-size: 21px;
	font-weight: bold;
	color: #555555;
	text-decoration: none;
	margin-bottom: 30px;
}
#portfolio .picture {
	border-radius: 10px;
	margin: 30px 0 0;	
	width: 100px;
}
#portfolio p {
	margin: 0 0 30px;
}


/* PAGE CONTENT
---------------------- */
#container {
	max-width: 1400px;
}

#container .post {
	padding: 30px;
	margin: 0 0 0px 290px;
	background-color: #fff;
}

#container .post.spacer {
	margin-bottom: 150px;
}

#container .post h1,#container .post h2 {
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
	line-height: 28pt;
}
#container .post h1 a { color: #555555;}
#container .post h1 {
	font-size: 26pt;
	font-weight: 100;
	text-align: center;
}
#container .post h2 { font-size: 18pt; margin: 50px 0 20px;}
#container .post .commentcount, #container .post .published {
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	display: inline;
	text-align: center;
	color: #aeaeae;	
}
#container .post .commentcount a {
	color: #aeaeae;	
}
#container .post .banner {
	display: block;
	margin: 30px auto;
	max-width: 100%;
	max-height: 100%;

}
#container .post .intextimage {
	max-width: 300px;
	float: left;
	margin: 8px 10px 0 0;
}

#container .post .maxwidth {
	max-width: 100%;
}


#container .next {
	float: right;
}

#container .paginator {
	margin: 30px 0 30px 290px;
}

#container ul.series {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	background-color: #97d28b;
	float: left;
	width: 100%;
	
}
#container ul.series li {
	float: left;
}

#container ul.series li a {
	display: inline-block;
	font-weight: bold;
	color: white;
	padding: 3px 90px 3px 20px;
}
#container ul.series li a.active, #container ul.series li a:hover {
	background-color: #35303b;
	text-decoration: none;
}

#container table {
}


#container thead {
	border-bottom: 2px solid #ececec;
}

#container tr {
	border-bottom: 1px solid #ececec;
}

#container th {
	text-align: left;
	    padding: 5px;
}

#container td {
	    padding: 5px;
}

#servant-ad {
  background-color: #eaedee;
  padding: 10px;
  margin: 25px 0;
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

#servant-ad a {
  color: #f48564
}

/*  Mobile stuff
----------------------- */
@media all and (max-width: 800px) {
	body {
		margin: 15px;
	}
	#portfolio {
		float: none;
		margin-bottom: 30px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}	

	#container .post
	{
		margin-left: 0px;
	}

	#container .post .maxwidth {
		width: 100%;
	}

	#container .post .intextimage {
		float: none;
		display: block;
		margin: 10px auto !important;
		max-width: 100%;
	}

	#container .paginator {
	margin-left: 0px;
}
}
