---
layout : layout
title : "Jonas Hovgaard - Professional C# developer"
description: "Personal blog for professional web developer Jonas Hovgaard (jhovgaard)"
---

{% for post in site.posts %}

	{% if forloop.last %}
	<div class="post">
	{% else %}
	<div class="post spacer">
	{% endif %}
		<h1><a href="{{post.url}}">{{post.title}}</a></h1>
		<abbr class="published" title="{{ post.date | date: "%e %B, %Y"  }}">PUBLISHED {{ post.date | date: "%e %B, %Y"  }}</abbr>
		{{ post.content }}
	</div>
{% endfor %}


<div class="paginator">
{% if paginator.previous_page != 0 %}
	{% if paginator.previous_page != 1 %}
    	<a class="previous" href="/page/{{ paginator.previous_page }}/"><img src="/img/previous.png" alt="Previous" /></a>
	{% else %}
    	<a class="previous" href="/"><img src="/img/previous.png" alt="Previous" /></a>
		{% endif %}
	{% endif %}


{% if paginator.next_page <= paginator.total_pages %}
  <a class="next" href="/page/{{ paginator.next_page }}/"><img src="/img/next.png" alt="Next"/></a>
{% endif %}
</div>
<div class="clear"></div>
